<div [@routerTransition]>
    <app-page-header [heading]="'Examples'" [icon]="'fa-info'"></app-page-header>

    <div class="jumbotron">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px', fullScreenBackdrop: true }"></ngx-loading>
        <p>
            <button type="button" class="btn btn-sm btn-primary" (click)="showExample('1')">Example 1 </button>
            <button type="button" class="btn btn-sm btn-primary" (click)="showExample('2')">Example 2</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="showExample('3')">Example 3</button>
            <button type="button" class="btn btn-sm btn-success" (click)="showExample('4')">Example 4</button>
            <button type="button" class="btn btn-sm btn-info" (click)="showExample('5')">Example 5</button>
            <button type="button" class="btn btn-sm btn-warning" (click)="showExample('6')">Example 6</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="showExample('7')">Example 7</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="showExample('8')">Example 8</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="testpost()">ARIMA</button>
        </p>
        <div class="row">
            <div class="col col-xl-7 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">Kết quả chạy</div>
                    <table class="table table-sm tbl-smm" *ngIf="isNotFive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cloudlet ID (User)</th>
                                <th>Status</th>
                                <th>Data center ID</th>
                                <th>VM ID</th>
                                <th>Time</th>
                                <th>Start Time</th>
                                <th>Finish Time</th>
                                <th>Reponse Time</th>
                                <th>Execuse Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Cloudlets">
                                <td class="text-center">{{item.no}}</td>
                                <td style="display:flex">
                                    {{item.cloudletID}}
                                </td>
                                <td>{{item.status}}</td>
                                <td>{{item.dataCenterID}}</td>
                                <td>{{item.vmID}}</td>
                                <td>{{item.time}}</td>
                                <td>{{item.startTime}}</td>
                                <td>{{item.finishTime}}</td>
                                <td>{{item.responseTime}}</td>
                                <td>{{item.executionTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm tbl-smm" *ngIf="isFive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cloudlet ID (User)</th>
                                <th>Status</th>
                                <th>Data center ID</th>
                                <th>VM ID</th>
                                <th>Time</th>
                                <th>Start Time</th>
                                <th>Finish Time</th>
                                <th>Reponse Time</th>
                                <th>Execuse Time</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let brk of Brokers">
                            <tr>
                                <th colspan="10">User : #{{brk.brokerID}}</th>
                            </tr>
                            <tr *ngFor="let item of brk.cloudlets">
                                <td class="text-center">{{item.no}}</td>
                                <td style="display:flex">
                                    {{item.cloudletID}}
                                </td>
                                <td>{{item.status}}</td>
                                <td>{{item.dataCenterID}}</td>
                                <td>{{item.vmID}}</td>
                                <td>{{item.time}}</td>
                                <td>{{item.startTime}}</td>
                                <td>{{item.finishTime}}</td>
                                <td>{{item.responseTime}}</td>
                                <td>{{item.executionTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header ">Log : {{ExampleTitle}}</div>
                    <div class="card-body card-body-new">
                        <pre [innerHTML]="Logging"></pre>
                    </div>
                </div>
            </div>
            <div class="col col-xl-5 col-lg-12">
                <div class="card bg-light mb-3">
                    <div class="card-header ">Mô tả : {{ExampleTitle}}</div>
                    <div class="card-body card-body-new">
                        <p class="card-text">{{ExampleDesc}}</p>
                        <p class="card-text">{{ExampleDescEng}}</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Line Chart
                    </div>
                    <div class="card-body">
                        <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>